services:
  code-vibe:
    build:
      context: .
      args:
        VIBE_KANBAN_VERSION: "latest"

    ports:
      - "${VIBE_KANBAN_PORT:-3007}:3007"   # vibe-kanban
      - "${VS_CODE_PORT:-3008}:3008"   # vscode

    environment:
      VIBE_KANBAN_VERSION: ${VIBE_KANBAN_VERSION:-latest}
      BACKEND_PORT: 3007 # vibe-kanban
      PORT: 3008 # vscode
